extends ../layout/main

block variables
  - var title = 'Webpack + Pug';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';

block content
  //Here you can inject your Pug templates or Vue components
  //For example:
  //include ../includes/modules/test <== Pug template
  example



block script
